<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>845242923813-7f1m0n476s1lj0bs5dct71rgd5v45i1m.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.845242923813-7f1m0n476s1lj0bs5dct71rgd5v45i1m</string>
	<key>API_KEY</key>
	<string>AIzaSyAZ7WRWT2B8jx22j5CmBbcLvUk47Ir6OHY</string>
	<key>GCM_SENDER_ID</key>
	<string>845242923813</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>sid.flutterfire.someapp</string>
	<key>PROJECT_ID</key>
	<string>testproject2-1ed80</string>
	<key>STORAGE_BUCKET</key>
	<string>testproject2-1ed80.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:845242923813:ios:b72b713169fb2af92e78cc</string>
	<key>DATABASE_URL</key>
	<string>https://testproject2-1ed80.firebaseio.com</string>
</dict>
</plist>